*{
    margin:0;
    padding:0;
   
   
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url("p1.jpg");
    background-size: cover;
    

}
.navbar{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
   font-size:40px;
   font-weight: lighter;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-shadow:2px 3px white;
   border-bottom: 2px solid black;
   box-shadow: 3px 4px;
   cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0 15px;
    position: relative;
}
.navbar ul a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width:0;
    background:black;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover::after{
    width:100%;
}
.content{
    width:100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
}
.content h2{
    font-size: 70px;
    margin-top: 120px;
    line-height: 25px;
    text-transform:uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 4px black;
}
button{
    width:200px;
    padding:15px 0;
    text-align: center;
    margin:20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border:2px solid white;
    background: transparent;
    color:white;
    cursor: pointer;
    margin-top: 290px;
    margin-left: 290px;
    }
    .footer{
        background-color: black;
    opacity: 0.6;
    }
.footer p{
    margin-top:37%;
    margin-bottom:2px;
    margin-left: 43%;
    color:white;
    text-transform:lowercase;
}